target
bin
build
.*
*.iml
*.iws
*.ipr
*~
test-output
*.swp
*.log
*.orig
*.releaseBackup
dependency-reduced-pom.xml
pom.xml.tag
*.versionsBackup
pom.xml.next
release.properties
buildNumber.properties
#Windows
Thumbs.db
*.obj
*.exe
bower_components
dist
node_modules
